body
{
	font-family: Helvetica, sans-serif;
	text-align: center;
	margin: 32px 0 0;
	padding: 0;
	color: #333;
	background-color: #eee;
}

a,button
{
	display: inline-block;
	border: none;
	font-family: inherit;
	font-weight: inherit;
	font-size: 10px;
	line-height: 16px;
	height: 16px;
	padding: 0 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	cursor: pointer;
	text-align: left;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	vertical-align: middle;
	
	color: #fff;
	background-color: #333;
}
input
{
	font-family: inherit;
	font-size: inherit;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: none;
	padding: 4px;
}

input#url 
{
    width: 35em;
}

input#redirect-url
{
    width: 18em;
}

span {
    color: #999;
}

span.api
{
	display: block;
	margin: 16px 0 0;
	font-size: 9px;
}
span.api code
{
	font-size: 10px;
}

.ios-links 
{
    display: none;
}

/* iPad portrait */
@media only screen and (max-device-width: 1024px) and (orientation:portrait)
{
    body
    {
        margin: 128px 64px;
        font-size: 1.5em;
    }
    
    input#url
    {
        width: 600px;
    }
    
    a, button, .ios-links
    {
        display: inline-block;
        font-size: 16px;
        line-height: 37px;
        height: 37px;
        vertical-align: middle;
    	-webkit-border-radius: 16px;
    	-moz-border-radius: 16px;
    	border-radius: 16px;
    	padding: 2px 20px;
    	margin: 10px 2px;
    }
    
    .non-ios
    {
        display: none;
    }

    input
    {
        font-size: 16px;
        line-height: 29px;
        height: 37px;
    	vertical-align: middle;
        -webkit-border-radius: 16px;
    	-moz-border-radius: 16px;
    	border-radius: 16px;
    	padding: 2px 8px;
    	margin: 10px 2px;
    }
}

/* iPad landscape */
@media only screen and (max-device-width: 1024px) and (orientation:landscape)
{
    body
    {
        font-size: 1.5em;
        margin: 64px;
    }
    
    input#url
    {
        width: 850px;
    }
    
    a, button, .ios-links
    {
        display: inline-block;
        font-size: 16px;
        line-height: 37px;
        height: 37px;
        vertical-align: middle;
    	-webkit-border-radius: 16px;
    	-moz-border-radius: 16px;
    	border-radius: 16px;
    	padding: 2px 20px;
    	margin: 10px 2px;
    }
    
    .non-ios
    {
        display: none;
    }

    input
    {
        font-size: 16px;
        line-height: 29px;
        height: 37px;
    	vertical-align: middle;
        -webkit-border-radius: 16px;
    	-moz-border-radius: 16px;
    	border-radius: 16px;
    	padding: 2px 8px;
    	margin: 10px 2px;
    }
}

/* iPhone */
@media only screen and (max-device-width: 480px)
{
    body
    {
        margin: 8px;
        font-size: 1.2em;
    }
    
    a, button, .ios-links
    {
        display: inline-block;
        font-size: 16px;
        line-height: 37px;
        height: 37px;
        vertical-align: middle;
    	-webkit-border-radius: 16px;
    	-moz-border-radius: 16px;
    	border-radius: 16px;
    	padding: 2px 20px;
    	margin: 10px 2px;
    }
    
    .non-ios
    {
        display: none;
    }

    input
    {
        font-size: 16px;
        line-height: 29px;
        height: 37px;
    	vertical-align: middle;
        -webkit-border-radius: 16px;
    	-moz-border-radius: 16px;
    	border-radius: 16px;
    	padding: 2px 8px;
    	margin: 10px 2px;
    }
    
    input#url, input#redirect-url
    {
        width: 290px;
    }

}